body
{
	background-color: #F5F5F5;
	font-family:Verdana,Arial,"sans-serif";
}

h1 {
	background-color: #9BC1C2;
	line-height: 200%;
	text-align: center;

}

h1,h2,nav,h3,pre,p,ul,address,footer,#NoUnderlineLink
{
	color:#3F2860;
	font-style: normal;
	text-decoration: none;
	
} 

nav {

	text-align:center;
	font-weight: bold;
}

footer
{
	background-color: #9BC1C2;
	font-size:small;
	font-style: italic;;
	text-align:center;
}

#wrapper
{
	width:80%;
	margin:0 auto;
	align-content:center;
}

